/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
	scroll-behavior: smooth;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
}

.container {
    max-width:$desktop-lg;
    padding: 0 60px;
	z-index: 1;
	position: relative;
	@media screen and (max-width:$desktop-lg) {
		padding:0 50px !important;
	}
    @media screen and (max-width: $tab-port) {
        padding: 0 30px !important;
    }
	&.wide {
		max-width: 100%;
		margin:0 50px;
		@media screen and (max-width:$desktop-lg) {
			padding:100px 50px !important;
		}
		@media screen and (max-width: $tab-port) {
			padding: 60px 30px !important;
			margin:0 30px;
		}
	}
}

section {
    padding: 80px 0;
    @media screen and (max-width: $tab-port) {
        padding: 60px 0;
    }
    @media screen and (max-width: $phone) {
        padding: 40px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
		&.block {
			display: block;
		}
	}
	.column-break {
		width:100%;
		height:1px;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
    }
    .column-33 {
		width:30%;
    }
    .column-66 {
		width:63%;
    }
    .column-75 {
		width:66%;
    }
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@media screen and (max-width:$tab-port) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;
	@media screen and (max-width: $phone) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

// accordion styles //

.accordions {
    width:100%;
    &_title  {
		display: flex;
		background-color: $blk;
		cursor: pointer;
		margin-top: 15px;
		padding: 20px 40px;
		transition: 0.3s linear;
		text-align: left;
		align-items: center;
		line-height: 100%;
		border-radius: 50px;
        h3 {
            font-size:18px;
            font-weight:400;
            color:$white;
            transition:$trans;
            margin-bottom:0;
            margin-top:0;
            font-size:18px;
            font-weight:700;
			font-family: $montserrat;
        }
        span {
            align-self:center;
            justify-self:end;
            display: block;
            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: relative;
                color:$white;
                margin-left:5px;
                font-size:30px;
            }
        }
        
        &.active {
            background-color:$grey;
            span {
                &:after {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    &_content {
        display: none;
		padding: 50px 40px 10px;
		text-align: left;
		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$montserrat;
			font-weight: 700;
		}
        p {
            color:$white;
        }
        ul {
            color:$white;
        }
    }
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// slider arrows 
.prev,
.next {
	cursor: pointer;
}
#awards {
	display: grid;
	.slick-track {
		display:flex;
	}
	.prev {
		position: absolute;
		left: 0;
		top: 50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e905";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
		}
	}
	.next {
		position: absolute;
		right: 0;
		top:50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e902";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}

#banner {
	margin-top: 90px;
}

#contact-block {
	.container {
		background: $dk-blue;
		padding: 50px;
		@include respond(desktop-lg) {
			padding: 50px !important;
		}
		@include respond(phone) {
			margin: 0 30px;
			padding: 50px 25px !important;
		}
		.blue-title {
			margin-bottom: 5px !important;
		}
		p:not(.blue-title) {
			margin-bottom: 0 !important;
		}
		a {
			font-weight: $bold !important;
		}
		.row-1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			h2 {
				margin-bottom: 0 !important;
				margin-right: 30px;
				flex-shrink: 0;
				
			}
			.line-filler {
				width: 80%;
				height: 1px;
				background: $white;
				flex-shrink: 1;
			}
		}
		.row-2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			border-bottom: solid 1px $white;
			padding-bottom: 50px;
			gap: 30px;
		}
	}
}

.social-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	.social-icon {
		height: 28px;
		width: 28px;
		background: $white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&:before {
			font-family: $icomoon;
			content: "";
			font-size: 18px;
			color: $dk-blue;
		}

		&.facebook-icon {
			&:before {
				content: "\ea90";
			}
		}

		&.twitter-icon {
			&:before {
				content: "\e906";
			}
		}

		&.linkedin-icon {
			&:before {
				content: "\eaca";
			}
		}

		&.youtube-icon {
			&:before {
				content: "\ea9d";
			}
		}

		&.instagram-icon {
			&:before {
				content: "\ea92";
			}
		}
	}
}

.responsive-iframe {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

.pagination-wrapper {
	margin: 80px auto 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	.page-numbers {
		font-family: $montserrat;
		font-size: 1rem;
		color: $white;
		margin-bottom: 0 !important;
		text-decoration: none !important;
		padding: 6px 10px;
		&.prev, &.next {
			position: relative;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:after {
				font-family: $icomoon;
				content: "\ea3c";
				font-size: 1rem;
				transform: rotate(180deg);
				color: $yellow;
			}
		}
		&.next {
			&:after {
				transform: unset;
			}
		}
		&.current {
			color: $yellow;
			border: solid 1px $yellow;
		}
		&:not(.current) {
			&:hover {
				color: $yellow;
			}
		}
	}
}

.has-sidebar {
	width: 60% !important;
	@include respond(tab-land) {
		width: 100% !important;
	}

}

.sidebar {
	width: 30% !important;
	@include respond(tab-land) {
		width: 100% !important;
	}
}

.sidebar-wrapper {
	.services, .attorney-highlight {
		border: solid 1px $white;
		border-bottom: solid 4px $white;
		padding: 20px 20px 40px 20px;
		position: relative;
		ul {
			margin: 0 0 20px 0 !important;
			li {
				a {
					text-decoration: none !important;
					&:hover {
						text-decoration: underline !important;
						color: $lt-blue;
					}
				}
			}
		}
		.btn {
			position: absolute;
			bottom: -20px;
		}
	}
	.services {
		margin-bottom: 50px;
	}
	.attorney-highlight {
		margin-bottom: 0; 
		@include respond(tab-land) {
			margin-bottom: 30px;
		}
	}
}

.gform_wrapper {
	background: $dk-blue;
	padding: 50px;
	@include respond(phone) {
		padding: 25px;
	}
	.gform_required_legend, .gform_description {
		display: none;
	}
	label {
		color: $white;
		font-family: $montserrat !important;
		font-size: 0.9rem !important;
		font-weight: $normal !important;
		margin-bottom: 10px !important;
		.gfield_required {
			color: $white !important;
		}
	}
	input, textarea {
		background: none;
		border: solid 1px $white;
		border-radius: 0;
		color: $white;
		font-family: $montserrat;
		padding: 10px !important;
	}
	input {
		margin-bottom: 20px !important;
	}
	.gform_footer {
		padding-bottom: 0 !important;
	}
	input[type="submit"] {
		padding-bottom: 0 !important;
		cursor: pointer;
		background: $lt-blue;
		color: $dk-blue;
		height: 40px;
		width: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		padding: 0 20px !important;
		font-family: $montserrat;
		text-transform: uppercase;
		font-size: 0.9rem;
		letter-spacing: 1.2px;
		font-weight: $medium;
		border: 0 !important;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		outline: none;
		transition: $trans;
		margin-bottom: 0 !important;
		&:hover {
			background: $white;
			color: $dk-blue;
		}
	}
}

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	.logo-wrapper {
		background: $dk-blue;
		padding: 30px;
		img {
			position: relative;
			z-index: 101;
			max-width: 300px;
		}
	}
	.block {
		@for $i from 1 through 12 {
			&.block-#{$i} {
				background: $dk-blue;
				position: absolute;
			}
		}
		&-1 {
			top: 0;
			left: 0;
			width: 40vw;
			height: 80vh;
		}
		&-2 {
			top: 0;
			left: 40vw;
			width: 60vw;
			height: 20vh;
		}
		&-3 {
			top: 20vh;
			left: 40vw;
			width: 20vw;
			height: 60vh;
		}
		&-4 {
			top: 20vh;
			left: 60vw;
			width: 40vw;
			height: 100vh;
		}
		&-5 {
			top: 80vh;
			left: 0;
			width: 80vw;
			height: 20vh;
		}
		&-6 {
			top: 10vh;
			left: 20vh;
			width: 20vw;
			height: 20vh;
		}
		&-7 {
			top: 0;
			right: 0;
			width: 10vw;
			height: 10vh;
		}
		&-8 {
			bottom: 0;
			left: 0;
			width: 10vw;
			height: 10vh;
		}
		&-9 {
			bottom: 15vh;
			left: 33vw;
			width: 10vw;
			height: 15vh;
		}
		&-10 {
			bottom: 15vh;
			left: 50vw;
			width: 30vw;
			height: 10vh;
		}
		&-11 {
			top: 5vh;
			right: 10vw;
			width: 15vw;
			height: 60vh;
		}
		&-12 {
			bottom: 0vh;
			left: 10vw;
			width: 20vh;
			height: 60vh;
		}
	}
}

.wrapper {
	width: 85%;
	margin: 0 auto;
	@include respond(tab-port) {
		width: 100%;
	}
}

.loading-wheel {
	position: fixed;
	top: calc(60% - 30px);
	left: calc(50% - 30px);
	height: 30px;
	width: 30px;
	z-index: 999;
	pointer-events: none;
	background: url('../img/loading-wheel.gif') no-repeat;
	background-size: contain;
}