header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;
    display:flex;
    height: 90px;
    transition: $trans;
    background-color: $white;
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 94%;
        width: 100%;
        align-items: center;
        padding: 0 !important;        
        &_left {
            display: flex;
            width: 22%;
            justify-content: flex-start;
            @include respond(desktop) {
                width: 18%;
            }
            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;

                .custom-logo img {
                    max-height: 65px;
                    max-width: 340px;
                    width: 100%;
                    object-fit: contain;
                    object-position: left;
                    @include respond(phone) {
                        max-width: 250px;
                    }
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }
    }
}